body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}

#app > #logo-side {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png);
}

#app > #logo-side > .logo {
    width: 375px;
}

#app > #logo-side > .logo > svg {
    fill: white;
}

#app > #options-side {
    width: 60%;
    height: 100%;
}

#app > #options-side > .logo {
    width: 45px;
    margin: 25px 0 0 25px;
}

#app > #options-side > .logo > svg {
    fill: rgb(29, 155, 240);
}

#app > #options-side > h1 {
    margin: 40px 0 0 25px;
    font-size: 64px;
    font-weight: 900;
}

#app > #options-side > h6 {
    margin: 50px 0 0 25px;
    font-size: 31px;
    font-weight: 900;
}

#app > #options-side > #google-button {
    margin: 25px 0 0 25px;
    background-color: transparent;
    border: 1px solid #dadce0;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#app > #options-side > #google-button > .google-logo {
    width: 18px;
    margin-right: 8px;
}

#app > #options-side > #google-button > span {
    font-size: 14px;
    font-weight: 500;
    color: #3c4043;
}

#app > #options-side > #apple-button {
    margin: 10px 0 0 25px;
    background-color: transparent;
    border: 1px solid #dadce0;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#app > #options-side > #apple-button:hover {
    background-color: rgb(230, 230, 230);
    transition: 0.2s;
}

#app > #options-side > #apple-button > .apple-logo {
    width: 20px;
    margin-right: 8px;
}

#app > #options-side > #apple-button > span {
    font-size: 14px;
    font-weight: 700;
}

#app > #options-side > #separator {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 28px;
}

#app > #options-side > #separator > hr {
    width: 120px;
    background-color: red;
}

#app > #options-side > #cell-button {
    margin: 5px 0 0 25px;
    background-color: rgb(29, 155, 240);
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#app > #options-side > #cell-button:hover {
    background-color: rgb(26, 140, 216);
    transition: 0.2s;
}

#app > #options-side > #subscribe-explanation {
    max-width: 300px;
    margin: 3px 0 0 25px;
    font-size: 11px;
    color: rgb(83, 100, 113);
}

#app > #options-side > #subscribe-explanation > a {
    text-decoration: none;
    color: rgb(29, 155, 240);
}

#app > #options-side > #subscribe-explanation > a:hover {
    text-decoration: underline;
}

#app > #options-side > #login-header {
    margin: 80px 0 0 25px;
    font-size: 17px;
    font-weight: 900;
}

#app > #options-side > #login-button {
    margin: 20px 0 0 25px;
    width: 300px;
    height: 40px;
    border: 1px solid #dadce0;
    border-radius: 50px;
    background-color: transparent;
    color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#app > #options-side > #login-button:hover {
    background-color: rgb(29, 155, 240, .1);
    transition: 0.2s;
}